BODY
{
    BACKGROUND-IMAGE: url(wallpaper/tan_paper.gif)
}
.Centre
{
    TEXT-ALIGN: center
}

table{
   border: 0px;
}

td {
	border-style: solid 
	border-width: 0px 3px 0px 0px;
}

th {
   border: 0px;
}
